:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  
  /* Colors */
  --light-blue: #5EC6F6;
  --regular-blue: #376FE9;
  --dark-gray: #242424;
  --dim-gray: #1a1a1a;
  --white: #e2e2e2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}